# Скрытые конфигурации (ТОКЕНЫ!)
.env

# База данных
trading_bot.db
trading_bot.db-journal

# Логи и отладка
bot.log
steam_debug.html

# Виртуальное окружение Python
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc